:root {
  --color-darkpurple: #24053e;
  --color-Eucalyptus: #44ffa1;
  --color-davygrey: #584d62;
  --color-ghostwhite: #fcf8ff;
  --color-white: #ffffff;
}

/*--------- TYPOGRAPHY ----------*/
.heading-L {
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  line-height: 80px;
  color: var(--color-white);
}

.heading-M {
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 64px;
}

.heading-S {
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
}

.body {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.button {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
